﻿@{
    ViewData["Title"] = "Maintenance";
}

<div class="row">
    <div class="col-md-12">
        <h4><span>Maintenance</span></h4>
        <hr class="hr-title" />
    </div>
    <div class="col-md-12">
        @(Html.Kendo().Grid<VechicleMaintenanceViewModel>
    ().Name("grid_vechicle_maintenance")
    .Columns(col =>
    {

    col.Bound(s => s.VechicleMaintenanceId).Title("Id").Width(100).Hidden();

    col.Bound(s => s.VechicleNumber).Title("Vechicle").ClientTemplate("#= VechicleNumber #").Filterable(s => s.Multi(true));

    col.Bound(s => s.Date).Title("Date").ClientTemplate("#= DateText #");

    col.Bound(s => s.Amount).Title("Amount")
        .ClientFooterTemplate("<div style='text-align:right;font-weight:bold'> #= kendo.toString(sum, 'c') # </div>")
         .ClientGroupFooterTemplate("<div style='text-align:right;font-style:italic;color:grey'> #= kendo.toString(sum, 'c') # </div>")
        .ClientTemplate("<div style='text-align:right;'> #= kendo.toString(Amount, 'c') # </div>");

    col.Bound(s => s.Note).Title("Note");

    col.Command(command =>
    {
    command.Edit().UpdateText("Save").CancelText("Cancel");
    command.Destroy();
    }).Width(199);

    })
    .Groupable(s=>s.Enabled(true))
    .ColumnMenu(s => s.Filterable(true))
    .Filterable(d => d.Enabled(true).Mode(GridFilterMode.Menu))
    .ToolBar(t => t.Create().Text("Add new Maintenance"))

    .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Title("Vechicle Maintenance - Edit Item"))
    .TemplateName("VechicleMaintenanceViewModel"))

    .Sortable(s => s.AllowUnsort(false))

    .DataSource(dataSource => dataSource
    .Ajax().ServerOperation(false)
     .Aggregates(aggregates =>
        {
            aggregates.Add(p => p.Amount).Sum();
        })
    .PageSize(25).Group(s=>s.Add(g=>g.VechicleNumber))
    .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
    .Sort(x => x.Add(s => s.Date).Descending())
    .Model(model =>
    {
    model.Id(p => p.VechicleMaintenanceId);
    model.Field(p => p.VechicleMaintenanceId).Editable(false);

    model.Field(p => p.VechicleId).Editable(true);
    model.Field(p => p.Amount).Editable(true);
    model.Field(p => p.Note).Editable(true);

    })

    .Create(update => update.Action("Add", "Maintenance"))
    .Read(read => read.Action("Read", "Maintenance"))
    .Update(update => update.Action("Edit", "Maintenance"))
    .Destroy(update => update.Action("Delete", "Maintenance"))

    )

    .Events(evt =>
    {

    evt.Edit("onEdit").Save("onSave").Remove("onRemove");
    })
        )
    </div>
</div>

<style>
    .k-edit-form-container {
        /*max-width: 700px;*/
        /*overflow: hidden;*/
    }

        .k-edit-form-container .k-edit-buttons {
            /*margin: 0 !important;*/
        }

        /*.k-edit-form-container .editor-label, .k-edit-label {
            width: 20%;
        }

        .k-edit-form-container .editor-field, .k-edit-field {
            width: 70%;
        }*/
</style>

<script>
    function onEdit(e) {
        if (e.model.isNew()) {
            e.container.data("kendoWindow").title("Vechicle Maintenance - New Item");
            $("#Amount").data("kendoNumericTextBox").value(null);

        } else {
            e.container.data("kendoWindow").title("Vechicle Maintenance - Edit Item");
        }
    }

    function onRequestEnd(e) {

    }

    function onSave(e) {
        e.model.Date = e.model.Date.toISOString()
        
    }

    function onRemove(e) {
       
    }

    function change_vechicleId(e) {

    }

</script>
