﻿


<input type="hidden" id="CustomerId" name="CustomerId" />

<div class="form-group row required">
    <label class="col-md-2 col-form-label">Name</label>

    <div class="col-md-10">
    <input type="text" name="Name" id="Name"  data-bind = "value:Name" maxlength="500"
           data-val-required = "The field is required."  class="k-textbox"
           style=" width: 90%"
            />

        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
    </div>
</div>

<div class="form-group row required">
    <label class="col-md-2 col-form-label">City</label>

    <div class="col-md-10"> 
        <input type="text" name="City" id="City" data-bind="value:City" maxlength="200"
               data-val-required="The field is required." class="k-textbox"
               style=" width: 90%" />

        <span class="field-validation-valid" data-valmsg-for="City" data-valmsg-replace="true"></span>
    </div>
</div>

<div class="form-group row required">
    <label class="col-md-2 col-form-label">PIN</label>

    <div class="col-md-10">
        <input type="text" name="PIN" id="PIN" data-bind="value:PIN" maxlength="10"
              class="k-textbox" style=" width: 90%" />
    </div>
</div>
