﻿<input type="hidden" id="DailyWorkId" name="DailyWorkId" />
<input type="hidden" id="BillId" name="BillId" />

<div class="form-group row">
    <label class="col-md-2 col-form-label">Vechicle</label>
    <div class="col-md-10">
        @(Html.Kendo().DropDownList()
       .OptionLabel("Please select a value")
       .Name("VechicleId")
       .DataTextField("Text")
       .DataValueField("Id")
       .Events(e => e.Change("change_vechicleId"))
       .DataSource(source =>
       {
           source.Read(read =>
           {
               read.Action("GetVechicleList", "Maintenance", new { area="Vechicles" });
           });
       })

       .HtmlAttributes(new
       {
           reqiored = "required",
           style = "width:100%;max-width:300px;",
           data_bind = "value:VechicleId",
           data_val_required = "The field is required."
       }))
        <span class="field-validation-valid" data-valmsg-for="VechicleId" data-valmsg-replace="true"></span>
    </div>
</div>

<div class="form-group row required">
    <label class="col-md-2 col-form-label">Site Name</label>
    <div class="col-md-10">
        @(Html.Kendo().DropDownList()
      .OptionLabel("Please select a value")
      .Name("SiteId")
      .DataTextField("Text")
      .DataValueField("Id")
      .DataSource(source =>
      {
          source.Read(read =>
          {
              read.Action("GetSitesNameList", "DailyWork", new { area = "Bills" });
          });
      })

      .HtmlAttributes(new
      {
          reqiored = "required",
          style = "width:100%;max-width:300px;",
          data_bind = "value:SiteId",
          data_val_required = "The field is required."
      }))
        <span class="field-validation-valid" data-valmsg-for="SiteId" data-valmsg-replace="true"></span>
    </div>
</div>

<div class="form-group row required">
    <label class="col-md-2 col-form-label">Date</label>
    <div class="col-md-9">
        @(Html.Kendo().DatePicker()
        .Name("Date").Format("dd/MM/yyyy")
        .HtmlAttributes(new
        {
        reqiored = "required",
        style = "width: 180px",
        data_bind = "value:Date",
        data_val_required = "The field is required."
        })
        )
        <span class="field-validation-valid" data-valmsg-for="Date" data-valmsg-replace="true"></span>
    </div>
</div>

<div class="form-group row required">
    <label class="col-md-2 col-form-label">Start Time</label>
    <div class="col-md-9">
        @(Html.Kendo().TimePicker().Events(e=>e.Change("durationChanged"))
        .Name("StartTime").Interval(5).Animation(true).Format("hh:mm tt")
        .HtmlAttributes(new
        {
        reqiored = "required",
        style = "width: 180px",
        data_bind = "value:StartTime",
        data_val_required = "The field is required."
        })
        )
        <span class="field-validation-valid" data-valmsg-for="StartTime" data-valmsg-replace="true"></span>
    </div>
</div>

<div class="form-group row required">
    <label class="col-md-2 col-form-label">End Time</label>
    <div class="col-md-9">
        @(Html.Kendo().TimePicker().Events(e=>e.Change("durationChanged"))
        .Name("EndTime").Interval(5).Animation(true).Format("hh:mm tt")
        .HtmlAttributes(new
        {
        reqiored = "required",
        style = "width: 180px",
        data_bind = "value:EndTime",
        data_val_required = "The field is required."
        })
        )
        <span class="field-validation-valid" data-valmsg-for="EndTime" data-valmsg-replace="true"></span>
    </div>
</div>

<div class="form-group row required">
    <label class="col-md-2 col-form-label">Total Hours</label>
    <div class="col-md-9">
        <input type="text" class="k-textbox k-readonly" style="width: 180px;background-color:whitesmoke" data-bind="value:TotalHoursText" readonly id="TotalHoursText" name="TotalHoursText" />
        <span class="field-validation-valid" data-valmsg-for="TotalHoursText" data-valmsg-replace="true"></span>
    </div>
</div>

<div class="form-group row required">
    <label class="col-md-2 col-form-label">Advance Amount</label>
    <div class="col-md-9">
        @(Html.Kendo().NumericTextBox()
        .Name("AdvanceAmount").Format("c").Min(0)
        .HtmlAttributes(new
        {
        style = "width: 180px",
        data_bind = "value:AdvanceAmount",
        //data_val_required = "The field is required."
        })
        )
        <span class="field-validation-valid" data-valmsg-for="AdvanceAmount" data-valmsg-replace="true"></span>
    </div>
</div>

<div class="form-group row required">
    <label class="col-md-2 col-form-label">Disel (lt)</label>
    <div class="col-md-9">
        @(Html.Kendo().NumericTextBox()
        .Name("DiselLitre").Min(0)
        .HtmlAttributes(new
        {
        style = "width: 180px",
        data_bind = "value:DiselLitre",
        //data_val_required = "The field is required."
        })
        )
        <span class="field-validation-valid" data-valmsg-for="DiselLitre" data-valmsg-replace="true"></span>
    </div>
</div>

<div class="form-group row required">
    <label class="col-md-2 col-form-label">Disel Amount</label>
    <div class="col-md-9">
        @(Html.Kendo().NumericTextBox()
        .Name("DiselAmount").Format("c").Min(0)
        .HtmlAttributes(new
        {
        style = "width: 180px",
        data_bind = "value:DiselAmount",
        })
        )
        <span class="field-validation-valid" data-valmsg-for="DiselAmount" data-valmsg-replace="true"></span>
    </div>
</div>