﻿


<input type="hidden" id="VechicleMaintenanceId" name="VechicleMaintenanceId" />

<div class="form-group row required">
    <label class="col-md-2 col-form-label">Vechicle</label>
    <div class="col-md-9">
        @(Html.Kendo().DropDownList()
        .OptionLabel("Please select a value")
        .Name("VechicleId")
        .DataTextField("Text")
        .DataValueField("Id")
        .Events(e => e.Change("change_vechicleId"))
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetVechicleList", "Maintenance");
            });
        })

        .HtmlAttributes(new
        {
            reqiored = "required",

             style = "width: 100%",

            data_bind = "value:VechicleId",
            data_val_required = "The field is required."
        })
        )
        <span class="field-validation-valid" data-valmsg-for="VechicleId" data-valmsg-replace="true"></span>
    </div>
</div>



<div class="form-group row required">
    <label class="col-md-2 col-form-label">Date</label>
    <div class="col-md-9">
        @(Html.Kendo().DatePicker()
        .Name("Date").Format("dd/MM/yyyy")
        .HtmlAttributes(new
        {
        reqiored = "required",
       style = "width: 180px",
        data_bind = "value:Date",
        data_val_required = "The field is required."
        })
        )
        <span class="field-validation-valid" data-valmsg-for="Date" data-valmsg-replace="true"></span>
    </div>
</div>

<div class="form-group row required">
    <label class="col-md-2 col-form-label">Amount</label>
    <div class="col-md-9">
        @(Html.Kendo().NumericTextBox()
        .Name("Amount").Format("c").Min(1)
        .HtmlAttributes(new
        {
        reqiored = "required",
        style = "width: 180px",
        data_bind = "value:Amount",
        data_val_required = "The field is required."
        })
        )
        <span class="field-validation-valid" data-valmsg-for="Amount" data-valmsg-replace="true"></span>
    </div>
 </div>

<div class="form-group row required">
    <label class="col-md-2 col-form-label">Note</label>
    <div class="col-md-9">

        @(Html.TextArea("Note", "", new
        {
        @class = "k-textbox",
        style = "width: 100%; height: 64px !important",
        rows="4",
        data_bind = "value:Note",
        data_val_required = "The field is required.",
        reqiored = "required"
        }))

        <span class="field-validation-valid" data-valmsg-for="Note" data-valmsg-replace="true"></span>
    </div>
</div>

