﻿@{
    ViewData["Title"] = "Vechicles Info";
}

<div class="row">
    <div class="col-md-12">
        <h4><span>Vechicles Info</span></h4>
        <hr class="hr-title" />
    </div>
    <div class="col-md-12">
        @(Html.Kendo().Grid<VechicleViewModel>
          ().Name("grid_vechicle_info")
          .Columns(col =>
          {

          col.Bound(s => s.VechicleId).Title("Id").Width(100).Hidden();

          col.Bound(s => s.VechicleNumber).Title("Model");

          col.Command(command =>
          {
          command.Edit().UpdateText("Save").CancelText("Cancel");
          command.Destroy();
          }).Width(199);

          })

          .ToolBar(t => t.Create().Text("Add new Vechicle Info"))

          .Editable(editable => editable.Mode(GridEditMode.InLine).Window(w => w.Title("Vechicle Info - Edit Item")))

          .Sortable(s => s.AllowUnsort(false))

          .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(25)
          .Events(events => events.Error("error_handler"))
          .Sort(x => x.Add(s => s.VechicleNumber).Ascending())
          .Model(model =>
          {
          model.Id(p => p.VechicleId); model.Field(p => p.VechicleId).Editable(false);
          })
          .Create(update => update.Action("Add", "VechiclesInfo"))
          .Read(read => read.Action("Read", "VechiclesInfo"))
          .Update(update => update.Action("Edit", "VechiclesInfo"))
          .Destroy(update => update.Action("Delete", "VechiclesInfo"))

          )

          .Events(evt =>
                  {
          evt.Save("doesModelNumberExists");
          evt.Edit("onEdit");
          })
        )
    </div>
</div>

<script>
    function doesModelNumberExists(e) {
        var model = e.model;

        const checkModelExists = obj => obj.VechicleNumber === model.VechicleNumber && obj.VechicleId != model.VechicleId;

        var dataArr = e.sender.dataSource.data().toJSON();

        console.log(dataArr.some(checkModelExists));

        if (dataArr.some(checkModelExists)) {
            kendo.alert("Vechicle Model: '" + model.VechicleNumber + "' is already exists! Please change the vechicle model and try again.");
            e.preventDefault();
            return false;
        }
    }

    function onEdit(e) {
        e.container.find(".text-box").addClass("k-textbox");
    }
</script>
<script type="text/x-kendo-template" id="template_vechileModel">

    <input class="k-input k-textbox single-line" data-val="true"
           data-val-required="The Vechicle Number field is required." id="VechicleNumber" name="VechicleNumber" type="text" value="" data-bind="value:VechicleNumber">
</script>
