﻿@{
    ViewData["Title"] = "Daily Work";
}

<div class="row">
    <div class="col-md-12">
        <h4><span>Daily Work</span></h4>
        <hr class="hr-title" />
    </div>
    <div class="col-md-12">
        @(Html.Kendo().Grid<DailyWorkViewModel>
            ().Name("grid_daily_work")
            .Columns(col =>
            {
                col.Select().Width(50);

                col.Bound(s => s.DailyWorkId).Title("Id").Width(100).Hidden();

                col.Bound(s => s.VechicleNumber).Title("Vechicle").Filterable(s => s.Multi(true)).Width(250);

                col.Bound(s => s.SiteName).Title("Site Name").Filterable(s => s.Multi(true)).Width(250).Hidden();

                col.Bound(s => s.Date).Title("Date").Format("{0:dd/MM/yyyy}").Width(190);

                col.Bound(s => s.StartTime).Title("Start Time").Width(150).Format("{0:hh:mm tt}");

                col.Bound(s => s.EndTime).Title("End Time").Width(150).Format("{0:hh:mm tt}");

                col.Bound(s => s.TotalHoursText).Title("Total Hours").Width(150);

                col.Bound(s => s.AdvanceAmount).Title("Advance Amount").Width(200)
                .ClientTemplate("<div style='text-align:right;'> #= (kendo.toString(AdvanceAmount , 'c')||'')# </div>");

                col.Bound(s => s.DiselLitre).Title("Disel (lt)").Width(150);

                col.Bound(s => s.DiselAmount).Title("Disel Amount").Width(200)
                .ClientTemplate("<div style='text-align:right;'> #= (kendo.toString(DiselAmount, 'c')||'') # </div>");


                col.Command(command =>
                {
                    command.Edit().UpdateText("Save").CancelText("Cancel");
                    command.Destroy();
                }).Width(199);

            })
            .Groupable(s => s.Enabled(true))
            .ColumnMenu(s => s.Filterable(true))
            .Filterable(d => d.Enabled(true).Mode(GridFilterMode.Menu))
            .ToolBar(t => t.Create().Text("Add new Daily Work"))

            .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Title("Daily Work - Edit Item"))
            .TemplateName("DailyWorkViewModel"))

            .Sortable(s => s.AllowUnsort(false))
            //.Scrollable(s=>s.Enabled(true))
            .DataSource(dataSource => dataSource
            .Ajax().ServerOperation(false)

            .PageSize(25)
            .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
            .Sort(x => x.Add(s => s.Date).Descending())
            .Model(model =>
            {
                model.Id(p => p.DailyWorkId);
                model.Field(p => p.DailyWorkId).Editable(false);
                model.Field(p => p.VechicleId).Editable(true);
                model.Field(p => p.BillId).Editable(false);
                model.Field(p => p.Date).Editable(true);
                model.Field(p => p.StartTime).Editable(true);
                model.Field(p => p.EndTime).Editable(true);
                model.Field(p => p.TotalHours).Editable(true);
                model.Field(p => p.AdvanceAmount).Editable(true);
                model.Field(p => p.DiselLitre).Editable(true);
                model.Field(p => p.DiselAmount).Editable(true);
            })

            .Create(update => update.Action("Add", "DailyWork"))
            .Read(read => read.Action("Read", "DailyWork"))
            .Update(update => update.Action("Edit", "DailyWork"))
            .Destroy(update => update.Action("Delete", "DailyWork"))
            )

            .Events(evt =>
            {
                evt.Edit("onEdit").Save("onSave").Remove("onRemove");
            })
        )
    </div>
</div>

<script src="~/lib/moment.js/moment.min.js"></script>

<script>

    $(function () {
        $("#div_content").removeClass("container").addClass("container-fluid");
    })

    function onEdit(e) {
        if (e.model.isNew()) {
            e.container.data("kendoWindow").title("Daily Work - New Item");
            $("#AdvanceAmount").data("kendoNumericTextBox").value(null);
            $("#StartTime").data("kendoTimePicker").value(null);
            $("#EndTime").data("kendoTimePicker").value(null);

        } else {
            e.container.data("kendoWindow").title("Daily Work - Edit Item");
        }
    }

    function onRequestEnd(e) {

    }

    function onSave(e) {
        e.model.Date = e.model.Date.toISOString()
    }

    function onRemove(e) {

    }

    function change_vechicleId(e) {

    }

    function durationChanged(e) {

        var inputCtrl = this.element[0].id;
        var startTIme = $("#StartTime").data("kendoTimePicker");
        var endTime = $("#EndTime").data("kendoTimePicker");

        switch (inputCtrl) {
            case "StartTime":
                endTime.min(startTIme.value());
                if (!compareTime(startTIme.value(), endTime.value())) {
                    endTime.value("");
                }
                updateEventDurationText();
                break;

            case "EndTime":
                if (!compareTime(startTIme.value(), endTime.value())) {
                    endTime.value("");
                }
                updateEventDurationText();
                break;

            default:
                break;
        }
    }



    function compareTime(sDate, eDate) {
        var dateTime1 = new Date(sDate).getTime(),
            dateTime2 = new Date(eDate).getTime();
        var diff = dateTime2 - dateTime1;

        return diff >= 0;
    }

    function updateEventDurationText() {

        var startTIme = $("#StartTime").data("kendoTimePicker");
        var endTime = $("#EndTime").data("kendoTimePicker");

        var startDate = startTIme.value();
        var endDate = endTime.value();

        $("#TotalHoursText").val("");

        if (startDate != null && endDate != null && startDate != "" && endDate != "") {

            $.get("/Bills/DailyWork/GetTimeDiffrenceText", {
                startDate: startDate.toUTCString(),
                endDate: endDate.toUTCString()
            }).done(function (data) {
                $("#TotalHoursText").val(data.eventDurationText);
            });
        }
    }

</script>
