﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        @{
            if (SignInManager.IsSignedIn(User))
            {
                <h4 class="text-center">Welcome</h4>
            }
            else
            {
                <h4 class="text-center">Please <a href="/Identity/Account/Login"> login</a> to continue...</h4>
            }
        }

    </div>
