﻿@{
    ViewData["Title"] = "Customers Info";
}


<div class="row">
    <div class="col-md-12">
        <h4><span>Customers Info</span></h4>
        <hr class="hr-title" />
    </div>
    <div class="col-md-12">
        @(Html.Kendo().Grid<CustomerViewModel>
    ().Name("grid_customer_info")
    .Columns(col =>
    {

    col.Bound(s => s.CustomerId).Title("Id").Hidden().Width(100);

    col.Bound(s => s.Name).Title("Name");

    col.Bound(s => s.City).Title("City");

    col.Bound(s => s.PIN).Title("PIN").Width(160);

    col.Command(command =>
    {
    command.Edit().UpdateText("Save").CancelText("Cancel");
    command.Destroy();
    }).Width(199);

    })

    .ToolBar(t => t.Create().Text("Add new Customer Info"))

    .Editable(editable => editable.Mode(GridEditMode.PopUp)
    .TemplateName("CustomerViewModel").Window(w => w.Title("Customer Info - Edit Item")))

    .Sortable(s => s.AllowUnsort(false))

    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(25)
    .Events(events => events.Error("error_handler"))
    .Sort(x => { x.Add(s => s.Name).Ascending(); x.Add(s => s.City).Ascending(); })
    .Model(model =>
    {
    model.Id(p => p.CustomerId); model.Field(p => p.CustomerId).Editable(false);
    })
    .Create(update => update.Action("Add", "CustomersInfo"))
    .Read(read => read.Action("Read", "CustomersInfo"))
    .Update(update => update.Action("Edit", "CustomersInfo"))
    .Destroy(update => update.Action("Delete", "CustomersInfo"))

    )

    .Events(evt =>
    {
    evt.Save("doesCustomerExists");
    evt.Edit("onEdit");
    })
        )
    </div>
</div>

<script>

    function doesCustomerExists(e) {
        var model = e.model;

        const checkCustomerExists = obj => obj.Name === model.Name && obj.City == model.City && obj.CustomerId != model.CustomerId;

        var dataArr = e.sender.dataSource.data().toJSON();

        //        console.log(dataArr.some(checkCustomerExists));

        if (dataArr.some(checkCustomerExists)) {
            kendo.alert("Customer Name: '" + model.Name + "' with City: '" + model.City + "' is already exists! Please change the customer name or city and try again.");
            e.preventDefault();
            return false;
        }
    }

    function onEdit(e) {
        if (e.model.isNew()) {
            e.container.data("kendoWindow").title("Customer Info - New Item");
        } else {
            e.container.data("kendoWindow").title("Customer Info - Edit Item");
        }
    }

    function onRequestEnd(e) {

    }

    function onRemove(e) {

    }

    function change_vechicleId(e) {

    }

</script>
