﻿@{
    ViewData["Title"] = "Sites Info";
}


<div class="row">
    <div class="col-md-12">
        <h4><span>Sites Info</span></h4>
        <hr class="hr-title" />
    </div>
    <div class="col-md-12">
        @(Html.Kendo().Grid<SiteViewModel>
    ().Name("grid_site_info")
    .Columns(col =>
    {

    col.Bound(s => s.SiteId).Title("Id").Hidden().Width(100);

    col.Bound(s => s.Name).Title("Site Name");

     

    col.Command(command =>
    {
    command.Edit().UpdateText("Save").CancelText("Cancel");
    command.Destroy();
    }).Width(199);

    })

    .ToolBar(t => t.Create().Text("Add new Site Info"))

    .Editable(editable => editable.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Top))

    .Sortable(s => s.AllowUnsort(false))

    .DataSource(dataSource => dataSource
    .Ajax()
    .ServerOperation(false)
    .PageSize(25)
    .Events(events => events.Error("error_handler"))
    .Sort(x => { x.Add(s => s.Name).Ascending(); })
    .Model(model =>
    {
    model.Id(p => p.SiteId); model.Field(p => p.SiteId).Editable(false);
    })
    .Create(update => update.Action("Add", "SitesInfo"))
    .Read(read => read.Action("Read", "SitesInfo"))
    .Update(update => update.Action("Edit", "SitesInfo"))
    .Destroy(update => update.Action("Delete", "SitesInfo"))

    )

    .Events(evt =>
    {
    evt.Save("doesSiteExists");
    evt.Edit("onEdit");
    })
        )
    </div>
</div>

<script>

    function doesSiteExists(e) {
        var model = e.model;

        const checkSiteExists = obj => obj.Name === model.Name && obj.SiteId != model.SiteId;

        var dataArr = e.sender.dataSource.data().toJSON();

        if (dataArr.some(checkSiteExists)) {
            kendo.alert("Site name: '" + model.Name + "' is already exists! Please change the site name and try again.");
            e.preventDefault();
            return false;
        }
    }

    function onEdit(e) {
        e.container.find(".text-box").addClass("k-textbox");
    }

</script>
